## Desafio 4 do [Thiago Gonçalves](https://twitter.com/tgcsantos)


Arredondar as médias (coluna de nota média) para duas casas decimais.

In [1]:
import pandas as pd
filmes = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula0/ml-latest-small/movies.csv")
avaliacoes = pd.read_csv("https://github.com/alura-cursos/introducao-a-data-science/blob/master/aula0/ml-latest-small/ratings.csv?raw=true")

In [2]:
filmes.columns = ["filmeId", "titulo", "generos"]
avaliacoes.columns = ["usuarioId", "filmeId", "nota", "momento"]

In [3]:
nota_media_por_filme = avaliacoes.groupby("filmeId")["nota"].mean()

In [5]:
nota_media_por_filme = nota_media_por_filme.round(decimals=2)

In [6]:
filmes_com_media = filmes.join(nota_media_por_filme, on="filmeId")

In [7]:
filmes_com_media.head()

,filmeId,titulo,generos,nota
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.92
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.43
2,3,Grumpier Old Men (1995),Comedy|Romance,3.26
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.36
4,5,Father of the Bride Part II (1995),Comedy,3.07

In [8]:
filmes_com_media["nota"]

0       3.92
1       3.43
2       3.26
3       2.36
4       3.07
        ...
9737    4.00
9738    3.50
9739    3.50
9740    3.50
9741    4.00
Name: nota, Length: 9742, dtype: float64